@page "/fetchdata"
@inject HttpClient _httpClient;

<h3>Open source projects</h3>

@if (projects is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Last update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>
                        <a href="@project.HTML_URL">
                            @project.Full_Name
                        </a>
                    </td>
                    <td>@project.Description</td>
                    <td>@project.Created_At.ToShortDateString()</td>
                    <td>@project.Updated_At.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    IList<ProjectModel> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await _httpClient.GetFromJsonAsync<ProjectModel[]>("https://api.github.com/users/AlistairDevine/repos");
    }

    class ProjectModel
    {
        public string Full_Name { get; set; }
        public string Description { get; set; }
        public string HTML_URL { get; set; }
        public DateTime Created_At { get; set; }
        public DateTime Updated_At { get; set; }
        public string Language { get; set; }
        public bool Fork { get; set; }
    }
}