@inject HttpClient _httpClient 
<Loading>
    <CascadingValue Value="projects">
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>
</Loading>

@code {
        IEnumerable<Project> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await _httpClient.GetFromJsonAsync<IEnumerable<Project>>("https://api.github.com/users/AlistairDevine/repos");
    }
}